*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#landing-wrapper{
    background: url("artjunks-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}
#landing{
    max-width: 360px;
    margin-right: auto;
    margin-left: auto;
    padding: 32px;
}
#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navbar-logo{
    font-family: 'Inter';
    font-weight: 900;
    font-size: 30.4px;
    line-height: 37px;
    color: #FFFFFF;
    cursor: pointer;
}
#navlinks{
    display: none;
}
.nav-links-wrapper{
    display: flex;
    gap: 35px;
    align-items: center;
}
.nav-links-wrapper > div{
    font-family: 'Inter';
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}
.nav-link-btn{
    padding: 9px 27px;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    background: none;
    color: #fff;
    cursor: pointer;
}
#navbar-toggle-btn{
    display: flex;
    flex-direction: column;
    gap: 4.37px;
}
#navbar-toggle-btn> div{
    width: 26.25px;
    height: 2.92px;
    background-color: #fff;
    border-radius: 4px;
}
#landing-text{
    margin-top: 216px;
    max-width: 360px;
}
#landing-bar{
    width: 90px;
    height: 15px;
    background-color: #fff;
}
#landing-header{
    font-family: 'Libre Caslon Display';
    font-weight: 400;
    font-size: 50px;
    line-height: 62px;
    color: #FFFFFF;
    margin-top: 32px;
}
#landing-details{
    font-family: 'Inter';
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    margin-top: 32px;
}
#landing-btn{
    font-family: 'Inter';
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    margin-top: 32px;
    background: none;
    border: 1px solid white;
    padding: 9px 27px;
    border-radius: 10px;
    margin-bottom: 310px;
    cursor: pointer;
}
#newest-header{    
    font-family: 'Inter';
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    margin-top: 58px;
    max-width: 360px;
    margin-right: auto;
    margin-left: auto;
    padding: 32px;
}
.card-wrapper{
    display: flex;
    width: 100%;
    gap: 20px;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}
.card{
    border: 1px solid #DDDDDD;
    border-radius: 8px;
}
.card > img{
    width: 100%;
    height: 352px;
}
.card-text{
    padding: 0 32px;
}
.card-date{  
    font-family: 'Inter';
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #B7B7B7;
    margin-top: 35px;
}
.card-paragraph{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #000000;
    margin-top: 26px;
    cursor: pointer;
}
.card-link{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 6px;
    margin-top: 34px;
    margin-bottom: 32px;
    padding: 0 32px;
}
.card-link a{
    text-decoration: none;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #D9852C;
}

@media screen and (min-width: 576px) {
    #landing{
        max-width: 720px;
    }
    #landing-text{
        max-width: 100%;
        margin-right: auto;
        margin-left: auto;
    }
    #landing-btn{
        margin-bottom: 352px;
    }
    #newest-header{    
        max-width: 720px;
        font-size: 30px;
        line-height: 36.31px;
    }
    .card-wrapper{
        flex-direction: row;
        max-width: 720px;
        margin-right: auto;
        margin-left: auto;
    }
    .card{
        width: calc((90%-40px-6px)/3);
        display: flex;
        flex-direction: column;
        flex: 1;
    }
    .card-paragraph{
        margin-bottom: 25px;
        font-size: 15px;
        line-height: 18px;
        font-weight: 700;
    }
    .card-link{
        margin-top: auto;
    }
}
@media screen and (min-width: 992px) {
    #landing{
        max-width: 1400px;
    }
    #navlinks{
        display: block;
    }
    .nav-link{
        cursor: pointer;
    }
    #navbar-toggle-btn{
        display: none;
    }
    #landing-text{
        max-width: 748px;
        margin-left: 32px;
    }
    #landing-header{
        font-size: 80px;
        line-height: 99px;
    }
    #landing-details{
        max-width: 528px;
    }
    #newest-header{    
        max-width: 1310px;
        font-size: 40px;
        line-height: 48px;
    }
    .card-wrapper{
        max-width: 1310px;
        margin-right: auto;
        margin-left: auto;
    }
    .card-paragraph{
        font-size: 25px;
        line-height: 30px;
    }
    .card-date{
        font-size: 15px;
        line-height: 18px;
    }
    
}